.play_button {
    width: 100%;
    height: 5em;
    margin: 0px;
    border-radius: 0px;
    border: 2px solid #380114;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.t-center {
    text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.grow2 {
    flex-grow: 2;
}

.b-w {
    background-color: white;
}

.b-gt {
    background-color: rgb(128, 128, 128, 0.8);
}

.full {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.card {
    background-color: white;
    border-radius: 5px;
    padding: 3em;
}